<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="height: 90vh; width: 90vw; margin-top: 5%;"
>
  <h1>List of all Tasks</h1>
  <table
    mat-table
    [dataSource]="taskPendingList"
    class="mat-elevation-z8 demo-table"
  >
    <!-- Serial Column -->
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef>S/No</th>
      <td mat-cell *matCellDef="let element; let i = index;"
        [style.color]="changeTaskStatus(element.task_status)"
      >
      {{i+1}}
      </td>
    </ng-container>

       <!-- Title Column -->
       <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.color]="changeTaskStatus(element.task_status)"
        >
          {{ element.task_title }}
        </td>
      </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style.color]="changeTaskStatus(element.task_status)"
      >
        {{ element.task_description }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style.color]="changeTaskStatus(element.task_status)"
      >
        {{ element.task_created_datetime | date: "dd-MM-yyyy" }}
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style.color]="changeTaskStatus(element.task_status)"
      >
        {{ element.task_created_datetime | date: "HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          *ngIf="element.task_status != 2"
          [style.color]="changeTaskStatus(element.task_status)"
          (click)="deleteTask(element.task_rid, element.task_user_rid)"
        >
          Delete
        </button>
        <div *ngIf="element.task_status == 2">
            Task Deleted
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
